<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style type="text/css">
        hr {color: sienna;}
        p {margin-left: 20px;}
        p {text-indent: 5em;}
        body {  background-image: url(/static/image/Koala.jpg);
                background-position:center;
                background-attachment:fixed;}
        body {font-family: sans-serif;}
    </style>
</head>
<body>
<!--<p style="color: sienna; margin-left: 20px">-->
    <!--This is a paragraph-->
<!--</p>-->
<p>yooo</p>

</body>
</html>