<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/css/icss.css" rel="stylesheet">
</head>
<body>
<h1>H2</h1>
<p>hello</p>
<p><strong>我是粗体字，不是斜体字，因为我不在列表当中，所以这个规则对我不起作用</strong></p>
<ol>
<li><strong>我是斜体字。这是因为 strong 元素位于 li 元素内。</strong></li>
<li>我是正常的字体。</li>
</ol>
<p>The strongly emphasized word in this paragraph is<strong>red</strong></p>
<h2>This subhead is also red.</h2>
<h2>The strongly emphasized word in this subhead is<strong>blue</strong>.</h2>
<p id="red">这个段落是红色。</p>
<p id="green">这个段落是绿色。</p>
<h1 class="center">
This heading will be center-aligned
</h1>

<table>
    <tr>
        <td class="fancy">1</td>
        <td id="td2">2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
</table>

</body>
</html>
