<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/static/js/jquery-2.0.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/string.js"></script>
    <script src="/static/js/mine.js"></script>
    <script src="/static/js/communication.js"></script>

    {% block headbody %} {% endblock %}
</html>