{% extends "public/base.html" %}
{% block header%}
<title>模板配置</title>
{% endblock %}
{% block content %}
<body>
<div class="container">

    <ul class="breadcrumb">
        <li><a href="/project/{{ project }}">项目</a> <span class="divider">{{ project }}</span></li>
        <li><a href="#">交易代码</a> <span class="divider"> {{ transcode }}</span></li>
        <li><a href="#">交易模板</a> <span class="divider"> {{ template }}</span></li>
    </ul>

    <!--<form class="form-horizontal" method="POST" action="/postservice/addproject/">-->
    <form role="form" class="form-horizontal" action="/postservice/addtemplate/" method="POST">
        <input type="hidden" name="project" value="{{ project }}">
        <input type="hidden" name="transcode" value="{{ transcode }}">
        <input type="hidden" name="template" value="{{ template }}">
        <div class="form-group">
            <label for="templatecontent" class="col-sm-1 control-label">模板内容</label>

            <div class="col-md-4">
                <!--<input type="text"  class="form-control input-sm" name="pysourcecode" id="pysourcecode" placeholder="">-->
                <textarea rows="20" cols="80" name="templatecontent" id="templatecontent">{{ pysourcecode }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-md-1">
                <button type="submit" class="btn btn-sm">提交</button>
            </div>
            <div class="col-sm-offset-1 col-md-1">
                <button type="button" class="btn btn-sm" onclick="window.location.href='/project/{{ project }}'">返回</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <tr>{% for field in fielddesc %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% for row in queryset %}
        <tr>
            <!--<td>{{ loop.counter }}</td>-->
            {% for col in row %}
            {% if loop.counter == 1 %}
            <td><a href="/project/{{ project }}/{{ col }}/">{{ col }}</a></td>
            {% elif loop.counter == 2 %}
            <td><a href="/project/{{ col }}">{{ col }}</a></td>
            {% elif loop.counter == 5 %}
            <td><a href="{{ col }}">modify</a></td>
            {% else %}
            <td>{{ col }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<!-- /container -->
</body>
{% endblock  %}